.textHeader{
    color: rgb(0,6,96);
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid rgb(0,6,96);
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo{
    margin: 2rem;
}

.crudView {
    display: flex;
}
