/* Import Tailwind CSS first */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Then define your custom global styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white ) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom utilities and other styles */
@layer utilities {
  .bg-light-blue {
    background-color: #6CB2EB; /* Light blue color */
  }
}


/* Other custom styles */
