.createPatientFrom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  max-width: 30%;
  margin: 3rem;
}

.createPatientFrom button {
  padding: 1rem;
  background-color: grey;
  align-self: center;
}
